
:root {
	--text-color: #000;
	--color-0: #DDD;
}

.flex {
	display: flex;
}

.flex.row {
	flex-direction: row;
}

.flex.column {
	flex-direction: column;
}

.spacer {
	flex-grow: 100;
	flex-shrink: 0;
}

.card {
	border-left: 0.5rem solid;
	padding: 1rem;
	border-color: var(--color-0);
}

.menu {
	padding: 1rem;
	display: flex;
	flex-direction: row;
}

.item .buttons {
	margin-right: 1rem;
}
.item .title {
	font-size: 2rem;
}
.item .info {
	font-style: italic;
}
.item.checked .title {
	text-decoration: line-through;
	opacity: 0.5;
}

.item-container {
	display: flex;
	flex-direction: column;
}
.item {
	order: 1;
}
.item.checked {
	order: 2;
}

a.covert:not(:hover) {
	color: var(--text-color);
	text-decoration: none;
}

.icon.button {
	font-size: 2.8rem;
	padding: 0 19px;
	min-width: 60px;
}

table .button {
	margin-bottom: 0;
}
